.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 400px;
  transition: 0.3s;
}
.login-btn {
  padding: 0;
  background-color: transparent;
  color: black;
  margin: 0;
}

.text {
  padding: 20px;
}
.log-p {
  padding: 0;
}
